@media only screen and (max-width: 1558px) {
  .container {
    width: 93.83%;
  }
  .header {
    padding: 19px 0;
  }
  .header__wrapper {
    margin: 0 -23px;
    justify-content: space-between;
  }
  .header__logo {
    padding: 0 23px;
  }
  .header__logo svg {
    width: 142px;
    height: 25px;
  }
  .header__list {
    margin: 0 -9px;
    padding: 0 23px;
    align-items: center;
    justify-content: space-between;
    width: 65%;
  }
  .header__list-item {
    padding: 0 8px;
  }
  .header__link {
    font-size: 14px;
    line-height: 16px;
  }
  .header__change-language {
    margin: 0 -7.5px;
    padding: 0 23px;
  }
  .header__change-language-btn {
    padding: 0 7.5px;
  }
  .header__change-language-btn p {
    font-size: 16px;
    line-height: 18px;
  }
  .header__search-basket {
    padding: 0 23px;
    margin: 0 -10px;
  }
  .header__search-basket-btn {
    padding: 0 10px;
  }
  .header__search-basket-btn svg {
    width: 24px;
    height: 24px;
  }
  .header .search-panel {
    right: 3%;
    bottom: -45px;
  }
  .header .search-panel__input {
    height: 35px;
    width: 559px;
  }
  .header .search-panel__btn {
    height: 35px;
    padding: 9.5px 0;
    font-size: 14px;
    line-height: 16px;
  }
  .basket.active {
    top: 66px;
  }
  .basket {
    top: -1085px;
    right: 5px;
    width: 583px;
  }
  .basket__title {
    font-size: 28px;
    line-height: 32px;
  }
  .basket__title__wrapper {
    padding-bottom: 15px;
  }
  .basket__item {
    padding: 15px 0;
  }
  .basket__item__thing__icon {
    margin-right: 5px;
  }
  .basket__item__thing__icon img {
    width: 45px;
    height: 45px;
  }
  .basket__item__thing__descr {
    margin-left: 5px;
  }
  .basket__item__thing__descr__title {
    font-size: 16px;
    line-height: 18px;
  }
  .basket__item__thing__descr__price {
    font-size: 14px;
    line-height: 16px;
  }
  .basket__list {
    padding: 15px 0;
    height: auto;
  }
  .basket__list__scroll {
    max-height: 337px;
  }
  .basket__pay__title {
    font-size: 18px;
    line-height: 21px;
  }
  .basket__pay__sum {
    font-size: 18px;
    line-height: 21px;
  }
  .basket__pay__form__name, .basket__pay__form__phone, .basket__pay__form__mail {
    font-size: 16px;
    line-height: 140%;
  }
  .basket__pay__form__name::placeholder, .basket__pay__form__phone::placeholder, .basket__pay__form__mail::placeholder {
    font-size: 16px;
    line-height: 140%;
  }
  .basket__pay__choice {
    margin-top: 30px;
  }
  .basket__pay__choice__title {
    font-size: 18px;
    line-height: 21px;
  }
  .basket__pay__choice__btn-online input[type=radio]::before {
    width: 12px;
    height: 12px;
  }
  .basket__pay__choice__btn-online input[type=radio]:checked::after {
    width: 8px;
    height: 8px;
  }
  .basket__pay__choice__btn-online label {
    font-size: 16px;
    line-height: 140%;
  }
  .basket__pay__choice__btn-crypto input[type=radio]::before {
    width: 12px;
    height: 12px;
  }
  .basket__pay__choice__btn-crypto input[type=radio]:checked::after {
    width: 8px;
    height: 8px;
  }
  .basket__pay__choice__btn-crypto label {
    font-size: 16px;
    line-height: 140%;
  }
  .basket__pay__choice__form__name, .basket__pay__choice__form__secondname, .basket__pay__choice__form__card {
    font-size: 16px;
    line-height: 140%;
  }
  .basket__pay__choice__form__name::placeholder, .basket__pay__choice__form__secondname::placeholder, .basket__pay__choice__form__card::placeholder {
    font-size: 16px;
    line-height: 140;
  }
  .basket__pay__choice__form__name-time, .basket__pay__choice__form__name-cvv, .basket__pay__choice__form__secondname-time, .basket__pay__choice__form__secondname-cvv, .basket__pay__choice__form__card-time, .basket__pay__choice__form__card-cvv {
    font-size: 16px;
    line-height: 140%;
  }
  .basket__pay__choice__form__name-time::placeholder, .basket__pay__choice__form__name-cvv::placeholder, .basket__pay__choice__form__secondname-time::placeholder, .basket__pay__choice__form__secondname-cvv::placeholder, .basket__pay__choice__form__card-time::placeholder, .basket__pay__choice__form__card-cvv::placeholder {
    font-size: 16px;
    line-height: 140;
  }
  .basket__pay__choice__form__wallet-number {
    font-size: 16px;
    line-height: 140%;
  }
  .basket__pay__choice__form__wallet-number::placeholder {
    font-size: 16px;
    line-height: 140;
  }
  .basket__pay__btn {
    font-size: 14px;
    line-height: 16px;
    padding: 14.5px 0;
  }
  .basket__copyright {
    font-size: 12px;
    line-height: 14px;
  }
  .preview {
    padding: 162px 0 163px 2px;
  }
  .preview__title {
    font-size: 48px;
    line-height: 100%;
  }
  .preview__wrapper {
    margin: 10px -20px 0 -20px;
  }
  .preview__wrapper-text {
    font-size: 18px;
    line-height: 21px;
  }
  .about-company {
    padding: 60px 0;
  }
  .about-company__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 28px;
  }
  .about-company__descr {
    margin-top: 12px;
    font-size: 16px;
    line-height: 140%;
  }
  .about-company__img {
    display: none;
  }
  .about-company__img-medium {
    width: 350px;
    height: 270px;
    display: block;
  }
  .about-company #hide {
    display: none;
  }
  .catalog {
    padding: 0 0 60px 0;
  }
  .catalog__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 0;
  }
  .catalog__card {
    height: 220px;
    margin-top: 29px;
  }
  .catalog__card-wrapper {
    padding: 25px 15px 15px 15px;
  }
  .catalog__card-img {
    height: 145px;
  }
  .catalog__card-img-tablet {
    display: block;
    margin: 0 auto;
  }
  .catalog__card-img-tablet.vozd {
    padding-top: 12px;
    width: 100%;
  }
  .catalog__card-img-tablet.trubs {
    padding-top: 18px;
    width: 100%;
  }
  .catalog__card-img-desc {
    display: none;
  }
  .catalog__card-descr {
    font-size: 16px;
    line-height: 18px;
    margin-top: 15px;
  }
  .catalog__card-descr.ind {
    margin-top: -5px;
  }
  .howtobuy {
    padding: 43px 0 64px 0;
  }
  .howtobuy__title {
    font-size: 28px;
    line-height: 32px;
  }
  .howtobuy__descr p {
    font-size: 18px;
    line-height: 21px;
  }
  .brands {
    padding: 60px 0 57px 0;
  }
  .brands__title {
    font-size: 28px;
    line-height: 32px;
  }
  .brands__link p {
    font-size: 14px;
    line-height: 16px;
  }
  .brands__link img {
    width: 16px;
    height: 12px;
  }
  .brands__wrapper {
    margin: 30px -20px 0 -20px;
  }
  .brands__item {
    padding: 0 20px;
    width: 25%;
  }
  .brands__item img {
    width: 100%;
  }
  .works {
    padding: 0 0 80px 0;
  }
  .works__title {
    font-size: 28px;
    line-height: 32px;
  }
  .works__link p {
    font-size: 14px;
    line-height: 16px;
  }
  .works__link img {
    width: 16px;
    height: 12px;
  }
  .works__wrapper {
    margin: 30px -15px 0 -15px;
  }
  .works__img-container {
    padding: 56.5px 22.5px;
  }
  .works__icon {
    width: 30px;
    height: 30px;
  }
  .works__card-modal {
    font-size: 12px;
    line-height: 14px;
    margin-top: 15px;
  }
  .works__card-descr {
    font-size: 16px;
    line-height: 18px;
    width: 100%;
  }
  .works__card-price {
    font-size: 16px;
    line-height: 18px;
  }
  .works__card-addToBasket {
    font-size: 14px;
    line-height: 16px;
  }
  .works__card-addToBasket span {
    display: none;
  }
  .footer {
    padding: 40px 0;
  }
  .footer__title {
    font-size: 18px;
    line-height: 21px;
  }
  .footer__item__link {
    font-size: 16px;
    line-height: 18px;
  }
  .footer__logo img {
    width: 255px;
    height: 48px;
  }
  .footer__moreinfo {
    margin-top: 41px;
  }
  .footer__copyright a {
    font-size: 14px;
    line-height: 16px;
  }
  .footer__date p {
    padding-right: 12px;
    font-size: 14px;
    line-height: 16px;
  }
  .footer__prodaction-content p {
    font-size: 14px;
    line-height: 16px;
  }
  .main__title {
    font-size: 28px;
    line-height: 32px;
  }
  .directory {
    display: flex;
    padding: 17px 0;
  }
  .directory__way-link {
    font-size: 14px;
    line-height: 16px;
  }
  .directory__way-link.active {
    color: #1A1A1A;
  }
  .directory__way span {
    font-size: 14px;
    line-height: 16px;
    margin: 0 4px;
  }
  .vent {
    padding: 30px 0 15px 0;
  }
  .vent__title {
    font-size: 18px;
    line-height: 21px;
  }
  .vent__cards-block {
    margin: 21px -15px 0 -15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .vent__cards-block-wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid #EFEFEF;
    padding: 25px 15px 15px 17px;
  }
  .vent__cards-block-descr {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
    margin-top: 14px;
  }
  .vent__cards-block-img {
    margin: 0 auto;
    height: 169px;
  }
  .vent__cards-block-img-desc {
    display: block;
    margin: 0 auto;
  }
  .vent__cards-block-img-desc.trubs {
    padding-top: 15px;
  }
  .vent__cards-block-img-desc.vozd {
    padding-top: 10px;
  }
  .vent__cards-block-img-tablet {
    display: none;
  }
  .vent__cards-block-img.ind {
    margin: 0 auto;
    height: 148px;
  }
  .vent .catalog__card {
    height: 412px;
    margin-top: -2px;
  }
  .vent .catalog__card-descr.over {
    margin-top: -2px;
  }
  .vent .catalog__card-wrapper {
    height: auto;
  }
  .plumbing {
    padding: 3px 0;
  }
  .plumbing__title {
    font-size: 18px;
    line-height: 21px;
  }
  .plumbing__cards-block {
    margin: -10px -15px 0 -15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .plumbing .catalog__card {
    height: 412px;
  }
  .plumbing .catalog__card-descr.over {
    margin-top: -2px;
  }
  .plumbing .catalog__card-wrapper {
    height: auto;
  }
  .accordion__wrapper {
    display: block;
    width: 89.5%;
    border: 1px solid #efefef;
    border-top: none;
    padding: 13px 15px;
    position: absolute;
    z-index: 3;
    background-color: #fff;
    min-height: 170px;
  }
  .accordion__link {
    display: block;
    margin-top: 13px;
    width: 100%;
  }
  .accordion__link a {
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.3s all;
  }
  .accordion__link a:hover {
    text-decoration: underline;
    transition: 0.3s all;
    text-decoration-color: #1A1A1A;
  }
  .accordion__link:first-child {
    margin-top: 0;
  }
  .accordion__hidden {
    height: 0;
    overflow: hidden;
    transition: 0.3s all;
    z-index: 3;
    background-color: #fff;
  }
  .accordion__hidden__link {
    display: block;
    margin-top: 15px;
  }
  .accordion__hidden__link a {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #1A1A1A;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.3s all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .accordion__hidden__link a:hover {
    text-decoration: underline;
    transition: 0.3s all;
    text-decoration-color: #1A1A1A;
  }
  .accordion__more-btn {
    font-size: 14px;
    line-height: 16px;
    width: 114px;
  }
  .accordion__more-btn::after, .accordion__more-btn::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 35%;
    right: 4px;
    width: 6px;
    height: 1px;
    background-color: #1A1A1A;
    transition: 0.3s all;
  }
  .accordion__more-btn::after {
    transform: rotate(45deg);
  }
  .accordion__more-btn::before {
    transform: rotate(-45deg);
    right: 0;
  }
  .accordion__more-btn.active::after {
    transform: rotate(-45deg);
    right: 54px;
    transition: 0.3s all;
  }
  .accordion__more-btn.active::before {
    transform: rotate(45deg);
    right: 50px;
    transition: 0.3s all;
  }
  .info {
    padding: 13px 0 77px 0;
  }
  .info__text {
    margin-bottom: 15px;
  }
  .info__text:last-child {
    margin-bottom: 0;
  }
  .info__text p {
    font-size: 16px;
    line-height: 140%;
  }
  .back-to-page {
    padding: 24px 0 28px 0;
  }
  .back-to-page-text {
    font-size: 14px;
    line-height: 16px;
  }
  .product__info {
    padding: 20px 40px 17px 36px;
  }
  .product__info-img {
    margin-right: 37px;
  }
  .product__info-img img {
    width: 107px;
    height: 180px;
  }
  .product__info-block-title {
    font-size: 28px;
    line-height: 32px;
  }
  .product__info-block-descr {
    font-size: 16px;
    line-height: 140%;
  }
  .product__list {
    padding: 20px;
    margin: -5px;
  }
  .product__list-block {
    padding: 5px;
    width: 25%;
  }
  .product__list-block-item {
    height: 65px;
    padding: 14.5px;
  }
  .product__list-block-item-link {
    font-size: 16px;
    line-height: 18px;
  }
  .catalog-cards {
    padding: 40px 0 80px 0;
  }
  .catalog-cards__sort-panel__title {
    font-size: 14px;
    line-height: 16px;
  }
  .catalog-cards__sort-panel__price p, .catalog-cards__sort-panel__popular p {
    font-size: 14px;
    line-height: 16px;
  }
  .catalog-cards__sort-panel__price img, .catalog-cards__sort-panel__popular img {
    width: 10px;
    height: 5px;
  }
  .catalog-cards-block-item {
    padding: 15px;
  }
  .catalog-cards-block-item-img {
    padding: 19px 0;
  }
  .catalog-cards-block-item-img img {
    width: 100%;
  }
  .catalog-cards-block-item-text-title {
    font-size: 12px;
    line-height: 14px;
  }
  .catalog-cards-block-item-text-descr {
    font-size: 16px;
    line-height: 18px;
    width: 100%;
  }
  .catalog-cards-block-item-text-price {
    font-size: 16px;
    line-height: 18px;
  }
  .catalog-cards-block-item-text-btn {
    padding: 14.5px 0;
    font-size: 14px;
    line-height: 16px;
  }
  .catalog-cards-navigation-prev img, .catalog-cards-navigation-next img {
    width: 8px;
    height: 16px;
  }
  .catalog-cards-links {
    margin: 0 -5px;
  }
  .catalog-cards-links span {
    margin: 0 5px;
  }
  .catalog-cards-links-item {
    padding: 0 5px;
  }
  .catalog-cards-links-item a {
    width: 35px;
    height: 35px;
  }
  .item__catalog__filter-block__kind__title {
    padding: 20px 20px 20px 16px;
  }
  .item__catalog__filter-block__kind__title p {
    font-size: 16px;
    line-height: 18px;
  }
  .item__catalog__filter-block__kind__descr-link {
    padding: 2px 0;
  }
  .item__catalog__filter-block__kind__descr-link:last-child {
    padding: 4px 0 13px 0;
  }
  .item__catalog__filter-block__kind__descr-link a {
    font-size: 16px;
    line-height: 140%;
  }
  .item__catalog__filter-block__manufacturer {
    margin-top: 24px;
  }
  .item__catalog__filter-block__manufacturer .name, .item__catalog__filter-block__version .name {
    font-size: 16px;
  }
  .item__catalog__filter-block__manufacturer__title p, .item__catalog__filter-block__version__title p {
    font-size: 16px;
    line-height: 18px;
  }
  .item__catalog__filter-block__manufacturer__descr-input label, .item__catalog__filter-block__version__descr-input label {
    font-size: 16px;
    line-height: 140%;
  }
  .item__catalog__content-block {
    padding: 0 0 79px 25px;
  }
  .item__catalog__content-block-filters-show {
    width: 63%;
    margin: -5px -8px;
  }
  .item__catalog__content-block-filters-show-item {
    margin: 5px 8px;
  }
  .item__catalog__content-block-filters-show-item p {
    font-size: 14px;
    line-height: 16px;
  }
  .item__catalog__content-block-filters-sort {
    width: 38%;
    padding: 9px 0 0 15px;
  }
  .item__catalog__content-block-filters-sort .catalog-cards__sort-panel__title p {
    width: 110px;
  }
  .item__catalog__content-block-preview {
    padding: 20px 40px 20px 0;
  }
  .item__catalog__content-block-preview-img img {
    width: 180px;
    height: 180px;
  }
  .item__catalog__content-block-preview-text__title {
    font-size: 28px;
    line-height: 32px;
  }
  .item__catalog__content-block-preview-text__descr {
    font-size: 16px;
    line-height: 140%;
  }
  .item__catalog-cards-block-item {
    padding: 15px;
  }
  .product-card {
    padding: 0 0 53px 0;
  }
  .product-card .product-card__dots {
    bottom: -39px;
  }
  .product-card .slick-next {
    right: -65px;
  }
  .product-card__slider .slick-prev,
  .product-card__slider .slick-next {
    top: 54.5%;
  }
  .product-card__slider .slick-prev {
    left: -65px;
  }
  .product-card__slider__wrapper {
    padding: 32px 94px;
    width: 635px;
  }
  .product-card__slider__item {
    height: 349px;
  }
  .product-card__text__prevtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .product-card__text__title {
    font-size: 28px;
    line-height: 32px;
    margin-top: 10px;
  }
  .product-card__text__price {
    font-size: 18px;
    line-height: 21px;
  }
  .product-card__text__btn {
    padding: 14.5px 0;
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;
  }
  .product-card__text__wrapper {
    margin-top: 22px;
  }
  .product-card__text__vendor, .product-card__text__manufacturer, .product-card__text__category, .product-card__text__number, .product-card__text__title, .product-card__text__link, .product-card__text__version {
    margin-top: 7px;
  }
  .product-card__text__vendor__item, .product-card__text__vendor__value, .product-card__text__manufacturer__item, .product-card__text__manufacturer__value, .product-card__text__category__item, .product-card__text__category__value, .product-card__text__number__item, .product-card__text__number__value, .product-card__text__title__item, .product-card__text__title__value, .product-card__text__link__item, .product-card__text__link__value, .product-card__text__version__item, .product-card__text__version__value {
    font-size: 12px;
    line-height: 14px;
  }
  .product-card__text__sizes {
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
  }
  .product-card__text__sizes__block {
    background: #f8f8f8;
    margin: 13px 0 0 0;
  }
  .product-card__text__sizes__accordion.active {
    height: auto;
    transition: 0.3s all;
  }
  .product-card__text__sizes__accordion {
    height: 55px;
  }
  .product-card__text__sizes__accordion::after {
    height: 10px;
  }
  .product-card__text__sizes__btn-open {
    font-size: 12px;
    line-height: 14px;
    margin-top: 70px;
  }
  .product-card__description {
    padding: 41px 0 0 0;
  }
  .product-card__description__title {
    font-size: 28px;
    line-height: 32px;
  }
  .product-card__description__subtitle {
    font-size: 16px;
    line-height: 140%;
    margin-top: 30px;
  }
  .product-card__description__descr {
    font-size: 16px;
    line-height: 18px;
    margin-top: 15px;
  }
  .product-card__description__subdescr {
    font-size: 16px;
    line-height: 140%;
  }
  .product-card__description__subdescr p {
    font-size: 16px;
    line-height: 140%;
    width: 100%;
  }
  .similar .slick-next,
  .similar .slick-prev {
    top: -36px;
  }
  .similar .similar__dots {
    top: -42px;
    transform: translateX(-33%);
  }
  .similar__wrapper {
    padding: 0 0 9px 0;
  }
  .similar__title {
    font-size: 28px;
    line-height: 32px;
  }
  .similar__slider {
    margin-top: 29px;
  }
  .similar__slider__item-wrapper {
    width: 255px;
  }
  .similar__slider__item-img {
    padding: 28px 0;
  }
  .similar__slider__item-text-title {
    font-size: 12px;
    line-height: 14px;
  }
  .similar__slider__item-text-descr {
    font-size: 16px;
    line-height: 18px;
  }
  .similar__slider__item-text-price {
    font-size: 16px;
    line-height: 18px;
  }
  .similar__slider__item-text-btn {
    height: 45px;
    font-size: 14px;
    line-height: 16px;
    padding: 14.5px 0;
  }
  .yousee {
    padding: 40px 0 52px 0;
  }
  .yousee .similar__dots {
    top: -29px;
    transform: translateX(-33%);
  }
  .yousee .slick-next,
  .yousee .slick-prev {
    top: -23px;
  }
  .yousee__slider {
    margin-top: 32px;
  }
  .yousee__title {
    font-size: 28px;
    line-height: 32px;
  }
  .yousee__slider__inner__item.big {
    padding: 13px 15px;
  }
  .yousee__slider__inner__item.big .yousee__slider__item-img {
    padding: 7px 127px;
  }
  .yousee__slider__inner__item.big .yousee__slider__item-img img {
    height: 240px;
  }
  .yousee__slider__inner__item.big .yousee__slider__item-text-price {
    margin-top: 34px;
  }
  .yousee__slider__inner__item {
    padding: 13px 15px;
  }
  .yousee__slider__item-img {
    padding: 20px 30px 45px 30px;
  }
  .yousee__slider__item-img img {
    height: 190px;
  }
  .yousee__slider__item-text-text {
    font-size: 12px;
    line-height: 14px;
  }
  .yousee__slider__item-text-descr {
    font-size: 16px;
    line-height: 18px;
  }
  .yousee__slider__item-text-price {
    font-size: 16px;
    line-height: 18px;
  }
  .yousee__slider__item-text-btn {
    font-size: 14px;
    line-height: 16px;
    padding: 14.5px 0;
  }
  .myworks__block {
    padding: 25px 0 40px 0;
  }
  .myworks__block .catalog-cards-navigation {
    margin-top: 34px;
  }
  .myworks__block__slider {
    margin-top: 9px;
  }
  .myworks__block__slider__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .myworks__block__slider__inner__item.big {
    padding: 19px 15px;
    width: 50%;
  }
  .myworks__block__slider__inner__item.big .myworks__block__slider__item-img {
    border: 1px solid #EFEFEF;
    border-radius: 2px;
    padding: 39px 137px;
    height: 60%;
  }
  .myworks__block__slider__inner__item.big .myworks__block__slider__item-img-main {
    width: 100%;
  }
  .myworks__block__slider__inner__item.big .myworks__block__slider__item-text-price {
    margin-top: 34px;
  }
  .myworks__block__slider__inner__item {
    padding: 19px 15px;
    width: 25%;
  }
  .myworks__block__slider__item-wrapper {
    width: 100%;
    height: 100%;
  }
  .myworks__block__slider__item-img {
    border: 1px solid #EFEFEF;
    border-radius: 2px;
    padding: 54px 17px;
    height: 60%;
  }
  .myworks__block__slider__item-img-main {
    width: 100%;
  }
  .myworks__block__slider__item-img-pdf {
    position: absolute;
    display: inline-block;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
  }
  .myworks__block__slider__item-text {
    margin-top: 15px;
  }
  .myworks__block__slider__item-text-title {
    font-size: 12px;
    line-height: 14px;
  }
  .myworks__block__slider__item-text-descr {
    font-size: 16px;
    line-height: 18px;
  }
  .myworks__block__slider__item-text-price {
    font-size: 16px;
    line-height: 18px;
  }
  .myworks__block__slider__item-text-btn {
    font-size: 14px;
    line-height: 16px;
    padding: 14.5px 0;
  }
  .myworks__text {
    padding: 0 0 75px 0;
  }
  .myworks__text__title {
    font-size: 28px;
    line-height: 32px;
  }
  .myworks__text__descr {
    font-size: 16px;
    line-height: 140%;
    margin-top: 30px;
  }
  .myworks__text__subdescr {
    font-size: 16px;
    line-height: 140%;
  }
  .not-found {
    padding: 60px 0 79px 0;
  }
  .not-found__wrapper {
    padding: 38px 190px 40px 190px;
  }
  .not-found__img {
    width: 100%;
  }
  .not-found__btn {
    font-size: 14px;
    line-height: 16px;
    padding: 14.5px 0;
  }
  .order {
    padding: 41px 0 20px 0;
  }
  .order__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .order__text {
    width: 66%;
  }
  .order__img {
    width: 34%;
    padding-top: 50px;
  }
  .order__img img {
    width: 350px;
    display: block;
    float: right;
  }
  .order__title {
    font-size: 28px;
    line-height: 32px;
  }
  .order__descr {
    margin-top: 30px;
  }
  .order__descr p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 140%;
  }
  .order__descr p:last-child {
    display: none;
  }
  .order__btn {
    width: 350px;
    margin-top: 28px;
  }
  .order__btn p {
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;
  }
  .examples {
    padding: 0 0 82px 0;
  }
  .examples .yousee__slider__item-img {
    padding: 20px 15px 45px 15px;
  }
  .examples .yousee__slider__item {
    margin-top: 30px;
  }
  .brandsBlock {
    padding: 24px 0 32px 0;
  }
  .brandsBlock__title {
    font-size: 28px;
    line-height: 32px;
  }
  .brandsBlock__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px -12.5px 0 -12.5px;
  }
  .brandsBlock__item {
    padding: 0 12.5px;
    width: 20%;
  }
  .brandsBlock__item img {
    width: 100%;
  }
  .lastblock {
    padding: 24px 0 36px 0;
  }
  .brandsBlockText {
    padding: 0 0 76px 0;
  }
  .brandsBlockText__text {
    margin-top: 30px;
    display: block;
  }
  .brandsBlockText__text p {
    font-size: 16px;
    line-height: 140%;
  }
  .confidentiality {
    padding: 24px 0 80px 0;
  }
  .confidentiality__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 5px;
  }
  .confidentiality__subtitle {
    font-size: 18px;
    line-height: 21px;
    margin-top: 29px;
  }
  .confidentiality__descr {
    font-size: 16px;
    line-height: 140%;
  }
  .confidentiality__list {
    padding-left: 30px;
    margin-top: 15px;
  }
  .confidentiality__list p {
    font-size: 16px;
    line-height: 140%;
  }
  .howToBuy {
    padding: 23px 0 69px 0;
  }
  .howToBuy__title {
    font-size: 28px;
    line-height: 32px;
  }
  .howToBuy__img {
    padding: 0 15px;
  }
  .howToBuy__img__wrapper {
    width: 255px;
    height: 255px;
  }
  .howToBuy__img__wrapper img {
    width: 120px;
    height: 120px;
  }
  .howToBuy__text {
    padding: 10px 15px 0 15px;
  }
  .howToBuy__text__title {
    font-size: 18px;
    line-height: 21px;
  }
  .howToBuy__text__descr {
    font-size: 16px;
    line-height: 140%;
  }
  .aboutCompany {
    padding: 23px 0 39px 0;
  }
  .aboutCompany__wrapper {
    display: flex;
    align-items: start;
    margin: 0 -15px 37px -15px;
  }
  .aboutCompany__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .aboutCompany__text {
    padding: 0 15px;
  }
  .aboutCompany__text p {
    font-size: 16px;
    line-height: 140%;
    margin-top: 13.5px;
  }
  .aboutCompany__text p:first-child {
    margin-top: 0;
  }
  .aboutCompany__img {
    padding: 0 15px;
  }
  .aboutCompany__img img {
    width: 350px;
    height: 350px;
  }
  .search-resault .item__catalog__content-block-filters-sort {
    padding: 26px 0 0 0;
  }
  .search-resault .catalog-cards-block-item-img {
    padding: 29.5px 0 22px 0;
  }
  .search-resault .catalog-cards-navigation {
    margin-top: 42px;
  }
  .search-resault__text {
    padding: 40px 0 79px 0;
  }
  .search-resault__text .myworks__text__subdescr {
    line-height: 137%;
  }
  .search-resault-not-found {
    padding: 60px 0 400px 0;
  }
  .search-resault-not-found__title {
    font-size: 28px;
    line-height: 32px;
  }
  .search-resault-not-found__btn {
    margin: 29px auto 0 auto;
    width: 255px;
    padding: 14.5px 0;
    font-size: 14px;
    line-height: 16pxe;
    text-align: center;
  }
  .link-more .header__link::before, .link-more .header__link::after {
    width: 6px;
  }
  .link-more .header__link::before {
    right: -14px;
  }
  .link-more .header__link::after {
    right: -18px;
  }
  .droplist.active {
    top: 70px;
  }
  .droplist__item a {
    font-size: 14px;
    line-height: 16px;
  }
  .mobile__menu__more {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .header__logo {
    padding: 0 23px;
  }
  .header__logo svg {
    width: 100%;
    width: 110px;
    height: 20px;
  }
  .header__list {
    padding: 0 10px;
  }
  .header__list-item {
    padding: 0 5px;
  }
  .header__link {
    font-size: 14px;
    line-height: 16px;
  }
  .header__change-language {
    padding: 0 10px;
  }
  .header__change-language-btn {
    padding: 0 7.5px;
  }
  .header__change-language-btn p {
    font-size: 14px;
    line-height: 16px;
  }
  .header__search-basket {
    padding: 0 10px;
  }
  .header__search-basket-btn {
    padding: 0 10px;
  }
  .header__search-basket-btn svg {
    width: 22px;
    height: 22px;
  }
  .droplist.active {
    top: 66px;
  }
}
@media only screen and (max-width: 1300px) {
  .header__wrapper {
    justify-content: space-between;
  }
}