.tooltip-block{
    position: absolute;
    background: white;
    border: 1px solid rgb(230, 230, 230);
    padding: 5px 8px;
    font-size: 10px;
    width: 140px;
    line-height: 13px;
    color: rgb(82, 82, 82);
    z-index: 400;
    display:none;
}

.one-text-block{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.one-text-block p{
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #818181;
    margin-bottom: 15px;
}
.one-text-block .picture{

}
.one-text-block .picture.left-side{
    float: left;
    margin: 0 30px 20px;
}
.one-text-block .picture.right-side{
    float: right;
    margin: 0 0 20px 30px;
}
.one-text-block-container{
    display: block;
}


.catalog-page-header-custome{
    padding-top: 24px;
}
.catalog-page-header-custome .aboutCompany__title{
    margin-bottom: 0px;
}
.catalog-page-header-custome .main-catalog__cards-block{
    margin: -10px -15px 0 -15px;
}

.openable.active .accordion__more-btn::before{
    transform: rotate(-135deg);
}
.openable.active .accordion__more-btn::after{
    transform: rotate(135deg);
}


.item__catalog__content-block-filters-show{
    width: 63%;
}

.item__catalog__content-block-filters-sort{

}

.product-card__text__manufacturer__value a{
    color: #1A1A1A;
    text-decoration: none;
}


.header__wrapper{
    overflow: unset;
}


.bc-cart-w-btn-show-cart-count__ico{

}
.bc-cart-w-btn-show-cart-count__ico svg{
    vertical-align: top;
}
.bc-cart-w-btn-show-cart-count__close{
    display: none;
}
.bc-cart-w-btn-show-cart-count{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fb4d32;
    color: white;
    right: -10px;
    top: -3px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.basket{
    right: 0px;
}
.basket.active{
    top: 0px;
    right: 0px;
}



.bc-cart-fly-item {
    background-color: #f00;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    background: url(/bitrix/components/pvcart/cart/templates/cart_block_edited/images/cart.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
}

.basket__item__thing__descr__title a{
    color: #1A1A1A;
    text-decoration: none;
}



@media only screen and (max-width: 1558px){
    .footer{
        min-height: auto;
    }
}
@media only screen and (max-width: 1279px) {

    .one-text-block p{
        font-size: 16px;
    }

}
@media only screen and (max-width: 1033px) {

    .item__catalog__content-block-filters-show-item-mobile{
        margin-bottom: 5px;
    }
    .item__catalog__content-block-mobile-filter-main-sort .item__catalog__content-block-filters-sort{
        padding-left: 0px;
    }
}

@media only screen and (max-width: 767px) {

    .one-text-block .picture{
        display: inline-block;
        width: 100%;
    }
    .one-text-block .picture img{
        width: 100%;
    }

    .one-text-block .picture.left-side{
        margin: 0px;
        margin-bottom: 20px;
    }
    .one-text-block .picture.right-side{
        margin: 0px;
        margin-bottom: 20px;
    }



}
@media only screen and (max-width: 545px) {

    .howToBuy__img__wrapper{
        width: 100%;
    }

}